<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-3" >
                                <div class="left_sidebar_area">
                                    <aside class="l_widget l_categories_widget">
                                        <div class="l_title">

                                        </div>
                                        <ul>
                                            <li><a href="{{ path('userpanel_show') }}"><span class="fa-icon-chevron-right"></span>Bilgilerim</a> </li>
                                            <li><a href="{{ path('userpanel_edit') }}"><span class="fa-icon-chevron-right"></span>Düzenle</a> </li>
                                            <li><a href="{{ path('shopcart_index') }}"><span class="fa-icon-chevron-right"></span>Sepetim</a> </li>
                                            <li><a href=""><span class="fa-icon-chevron-right"></span>Favori Ürünlerim</a> </li>
                                            <li><a href="{{ path('orders_index') }}"><span class="fa-icon-chevron-right"></span>Sipariş Geçmişi</a> </li>
                                            <li><a href=""><span class="fa-icon-chevron-right"></span>Yorumlarım</a> </li>
                                            <li><a href="{{ path('app_logout') }}"><span class="fa-icon-chevron-right"></span>Çıkış</a> </li>
                                        </ul>
                                    </aside>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-9">
                {{ include('userpanel/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </div>
    </div>
</section>
