{% extends 'admin/adminbase.html.twig' %}

{% block body %}
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-head-line">MESAJ LİSTESİ</h1>
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            MESAJLAR
                        </div>

                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Subject</th>
                                    <th>Message</th>
                                    <th>Comment</th>
                                    <th>Status</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for message in messages %}
                                    <tr>
                                        <td>{{ message.id }}</td>
                                        <td>{{ message.name }}</td>
                                        <td>{{ message.email }}</td>
                                        <td>{{ message.subject }}</td>
                                        <td>{{ message.message }}</td>
                                        <td>{{ message.comment }}</td>
                                        <td>{{ message.status }}</td>
                                        <td>
                                            <a href="{{ path('admin_messages_show', {'id': message.id}) }}" class="btn btn-primary">GÖSTER</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="8">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
