{% extends 'admin/adminbase.html.twig' %}

{% block title %}Kategori DETAY {% endblock %}

{% block body %}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">KATEGORİ DETAY
                    <small><a href="{{ path('admin_category_new') }}" class="btn btn-lg btn-primary">Kategori Ekleme</a></small>
                </h1>

                <div class="panel panel-default">

                    <div class="panel-heading">
                        Context Classes
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Parentid</th>
                <td>{{ category.parentid }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ category.title }}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>{{ category.keywords }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ category.status }}</td>
            </tr>
        </tbody>


    </table>
   <div class="container-fluid">
       <div class="row">

    <a href="{{ path('admin_category_index') }}" class="btn btn-primary col-md-2" >back to list</a>
           <div class="col-md-8"></div>

    <a href="{{ path('admin_category_edit', {'id': category.id}) }}" class="btn btn-info col-md-2">edit</a>

       </div>

   </div>
                            {{ include('admin/category/_delete_form.html.twig') }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
